__pycache__/
*.py[cod]
*$py.class

*.so

.eggs/
dist/
sdist/
*.egg-info/
*.whl
build/
wheelhouse/

/dist

*.pytest_cache
.coverage
htmlcov/

*.mo
*.pot

*.log
local_settings.py*
db.sqlite3
db.sqlite3-journal

celerybeat-schedule

.venv/
venv/
ENV/
env/
virtualenv/
__pypackages__/
*.env
*.venv
Pipfile.lock
conda-env/
environment.yml
pyvenv.cfg

.spyderproject
.spyproject

.ropeproject

*.iml
.idea/

.vscode/

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

.dockerignore
docker-compose.override.yml
docker-compose.yml

*~
*.swp
*.bak
*.tmp